html,
body,
#root,
.App,
.react-slideshow-container,
.react-slideshow-zoom-wrapper,
.slideshow-container > div,
.zoom-wrapper,
.zoom-wrapper > div,
.zoom-wrapper > div > div > img {
  height: 100%;
}

.slideshow-container:focus {
  outline: none;
}
